body{
    font-family: poppins;
    color: #3A3A3A;
}

/* shared styles */
.display-flex{
    display: flex;
}

.button{
    color: #fff;
    background-color: #E02C6D;
    border: none;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 40px;
}

/* navigation and hero area styles */
header{
    max-width: 1240px;
}

.heading3{
    font-size: 1.50rem;
    font-weight: 700;
    margin-left: 30px;
}

.nav-container{
    justify-content: space-between;
    align-items: center;
}

.navbar li{
    list-style-type: none;
    margin-right: 30px;
}

.navbar a{
    text-decoration: none;
    font-weight: 700;
    font-size: 1.25rem;
    color: #3A3A3A;
}

.hero-image{
    width: 440px;
    height: 420px;
    background: url("./influencer-gear/images/Circle\ design.svg") no-repeat color;
}

.hero-image img{
    width: 100%;
}

/* main and section styles */